
.landing{
   
    background: url("../image/insurance-companies.png") #103d50 70% 30% no-repeat!important;
}

.landing.segment{
    
    min-height: 500px;
    padding: 0em 0em;
    
}
.text-block {
    position: absolute;
    /* font-family: "Courier New", Courier, monospace; */
    font-size: x-large;
    top: 180px;
    left: 210px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block.b {
    font-weight: bold;
}